.form {
  &-group {
    margin: 20px 0;
  }
  &-text {
    display: block;
    margin-top: 5px;
    color: $grey;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 20px;
    border: 1px solid $white;
  }
}