// Container 
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 32px;
  margin-top: 96px;
  margin-bottom: 48px;
}

// Text Styles
.x-large {
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.large {
  font-size: 48px;
  line-height: 1.2px;
  margin-bottom: 16px;
}

.lead {
  font-size: 24px;
  margin-bottom: 16px;
}

.text-primary {
  color: $primary-color;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: $grey;
  margin: 24px 0;
}

// Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: $grey 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background($white);
    border: $grey 1px solid;
  }
}

// Buttons
.btn {
  display: inline-block;
  background: $light-color;
  color: $dark-grey;
  padding: 6px, 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
  outline: none;
  transition: all 0.2s ease-in-out;

  &.btn-primary {
    @include set-background($primary-color);
    &:hover {
      background: lighten($primary-color, 5%);
    }
  }
  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($dark-color, 5%);
    }
  }
  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($success-color, 5%);
    }
  }
  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($danger-color, 5%);
    }
  }
  &:hover {
    background: lighten($dark-color, 20%);
    color: $white;
  }
}

// Alerts
.alert {
  padding: 12px;
  margin: 16px;
  opacity: 0.9;
  background: $white;
  color: $dark-grey;

  &.alert-primary {
    @include set-background($primary-color);
  }
  &.alert-dark {
    @include set-background($dark-color);
  }
  &.alert-success {
    @include set-background($success-color);
  }
  &.alert-danger {
    @include set-background($danger-color);
  }
}

// Badges
.badge {
  font-size: 12px;
  padding: 1px;
  text-align: center;
  margin: 4px;
  background: $light-color;
  color: $dark-grey;

  &.badge-primary {
    @include set-background($primary-color);
  }
  &.badge-dark {
    @include set-background($dark-color);
  }
  &.badge-success {
    @include set-background($success-color);
  }
  &.badge-danger {
    @include set-background($danger-color);
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

// Tables
.table {
  th, td {
    padding: 16px;
    text-align: left;
  }

  th {
    background: $light-color;
  }
}